.container{
  height: auto;
  background-color: white;
  display: flex;
  border-radius: 3px;
}

.quoteContainer{
  padding: 40px 50px 40px 50px;
}

.quote{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.3em;
}

.footerContainer{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2;
}
.author{
  text-align: right;
  font-size: 0.7em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: 1s all ease;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
